<!-- landing_page.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="landing-container">
        <img src="/static/images/gpilogo.png" alt="Logo">
        <h1>Welcome to Girls' Power Initiative (GPI) Project Management Portal</h1>
      
        <!-- Add a link to login.html -->
        <a href="{{ url_for('main.login') }}">Login</a>
        <a href="{{ url_for('main.signup') }}">Register</a>

        <p>Version: 1.0.0</p>
    </div>
</body>

</html>
